@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


// Palette Colors
$primary: #7b3ff2;
$info: #c79dff;          // Highlights (Certificate Issuer, Special Elements)
$dark: #050412;
$dark-2: #2c1a62;        // Card Borders & Headers
$super-dark: #0a0a1d;

// Specific Colors
$success: #41d992;
$warning: #ffb347;
$danger: #ff82d1;

// Effects
$hover-glow: #8e52ff; 

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark": $dark,
    "dark-2": $dark-2,      // Card Borders & Headers
    "info": $info,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
);

$body-bg: #050412;
$body-color: $secondary;

$card-bg: #0a0a1d;
$card-border-color: #1e1b4b;
$btn-border-radius: 3px;

$border-radius: 1rem;

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
    // Main Theme Colors
    --primary: #{$primary};
    --info: #{$info};
    --dark: #{$dark};
    --dark-2: #{$dark-2};
    --super-dark: #{$super-dark};
    
    //Effects
    --hover-glow: #{$hover-glow};
}

/* Buttons */
.btn-primary:hover {
    --bs-btn-hover-bg: #{$hover-glow} !important;    
}

/* Scroll Bars */
.scroll-purple {
    scrollbar-color: #{$primary} #{$dark-2};
    scrollbar-width: thin;
}

/* Cards */
.card {
    transition: all 0.2s ease;
    border: 3px solid #{$dark-2};
    background-color: #{$super-dark};
    overflow: hidden;
}

.card .card-header {
    border-bottom: none;
}

a:hover .card {
    transform: translateY(-2px);
    border-color: #{$hover-glow} !important;
}
