:root {
    --contribution-default-bgColor-0: #2d2d2d;
    --contribution-default-bgColor-1: #581c87;
    --contribution-default-bgColor-2: #7e22ce;
    --contribution-default-bgColor-3: #a855f7;
    --contribution-default-bgColor-4: #d8b4fe;
}

body {
    /* background: linear-gradient(135deg, #0f0c29, #0a0918, #24243e); */
    font-family: 'Inter', sans-serif !important;
    background: #050412 !important;
}

#projects {
    min-height: 300px;
}

.text-purple-1 {
    color: #e6c2fb;
}
.text-purple-2 {
    color: #cd8af4;
}
.text-purple-3 {
    color: #7e41c8;
}

.alert-purple {
    background-color: #461471;
    border: 1px solid #a855f7;
    border-left: none;
    border-right: none;

    padding: 12px 10px;

    color: white;
    font-weight: 500;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    animation: pulseGlow 3s infinite;
}

@keyframes pulseGlow {
    0% {
        background-color: #461471;
        border-color: #a855f7;
        color: #a855f7;
    }

    50% {
        background-color: #603189;
        border-color: #a171ce;
        color: white;
    }

    100% {
        background-color: #461471;
        border-color: #a855f7;
        color: #a855f7;
    }
}

.modal-purple .modal-footer,
.modal-purple .modal-header,
.modal-purple .modal-body {
    background: #050412;
    color: white !important;
    --bs-btn-close-color: white;
    border: #643c7a;
    
}

.modal-purple .modal-footer .btn {
    width: 100%;
}

.modal-backdrop {
    background-color: #281144;
}

@media (min-width: 768px) {
    .modal-purple .modal-body {
        min-height: 45vh !important;
    }

    .modal-purple .modal-footer .btn {
        width: 15%;
    }
}

.img-wrapper {
    height: 200px;
    width: 100%;
    overflow: hidden;
    background-color: #1c1939;
    border-radius: 25px 25px 5px 5px;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.border-purple {
    border-style: solid;
    border-width: 2px;
    border-color: #643c7a !important;
}

.list-stars {
    list-style: none;
    padding-left: 0;
}

ul.list-stars li {
    position: relative;
    padding-left: 1.5rem;
}

.card-project {
    transition: all 0.2s ease;
}

.card-project:hover {
    transform: translateY(-2px);
    border-color: #a855f7 !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.card-purple {
    border: 1px solid #25184e !important;
    background-color: #111;
}

.card-purple .card-header {
    font-size: 1.3rem;
    padding-left: 20px;
    padding-top: 15px;
    background-color: #0a0a1d;
    color: #ffffff;
}

.card-purple .card-body {
    transition: all 0.2s ease;
    background-color: #0a0b1c;
    color: #e9ddf5;
}

.card-purple .card-footer {
    border-top: 1px solid #25184e;
    background-color: #0a0b1c;
}

.card-purple a {    
    color: #d7b8ff;
}

a:hover .card-purple {
    transform: translateY(-2px);
    border-color: #a855f7 !important;
}

.logo-small {
    width: 90px;
}

.progress-purple {
    background-color: #1c1939;
}

.progress-bar-purple {
    background-color: #7e41c8;
}

body {
    padding: 0px 5px;
}

.avatar-img {
    transform: translateY(15px);
    height: 100%;
    z-index: 1;
    width: 100vw;
}

.certificate-icon {
    font-size: 3rem;
}

.border-bottom-mobile {
    border-bottom: 1px solid #25184e;
}

@media (min-width: 768px) {
    body {
        padding: 30px 4%;
    }
    .certificate-icon {
        font-size: 3.75rem;
    }

    .border-bottom-mobile {
        border: none;
    }

    .avatar-img {
        position: absolute;
        bottom: -37px;
        left: 50%;
        transform: translateX(-65%);
        height: 100%;
        width: auto;
        max-height: 400px;
        aspect-ratio: inherit;
        z-index: 1;
    }

    .card-purple .card-header {
        font-size: 1.45rem;
    }

    .carousel-item {
        transition: transform 1.2s ease-in-out;
    }
    
    .fs-1 {
        font-size: 2.5rem !important;
    }

    .fs-2 {
        font-size: 2.125rem !important;
    }

    .fs-3 {
        font-size: 1.812rem !important;
    }

    .fs-4 {
        font-size: 1.5rem !important;
    }

    .fs-5 {
        font-size: 1.375rem !important;
    }

    .fs-6 {
        font-size: 1.25rem !important;
    }
    
    .fs-7 {
        font-size: 1.12rem !important;
    }

    .fs-8 {
        font-size: 1rem !important;
    }
}

@media (min-width: 1733px) {
    .avatar-img {
        transform: translateX(-50%);
    }
}

@media (min-width: 2150px) {
    .avatar-img {
        transform: translateX(-30%);
        max-height: ;
    }
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}
