:root {
    --default-paddingY: 12px;
    --default-paddingX: 12px;
    --pcard-default-font-size: 16px;
    --pcard-default-line-height: 1.5;    
    --pcard-default-mobile-font-size: 13px;
    --pcard-default-mobile-line-height: 1.2;
}

.card-project {
    width: 100%;
    border: 3px solid var(--default-bgColor-4);
    background-color: var(--default-bgColor-2);
    overflow: hidden;
}

.card-project .card-header {
    font-size: 16px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.card-project .project-name {
    padding: var(--default-paddingY) 0px;
}

.card-project .card-body {
    padding: 0px;
}

.card-project .project-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;

    overflow: hidden;

    font-size: var(--pcard-default-mobile-font-size);
    line-height: var(--pcard-default-mobile-line-height);

    text-align: center;
    margin: 6px;
}

.tool-badge-wrapper {
    height: 48px;
    margin: var(--default-paddingY) 0px;
}
.project-tools {
    max-height: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    overflow: hidden;
}

.tool-badge {
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;

    font-size: 12px;
    padding: 8px;
}

.card-project .project-company {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 26px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: var(--default-paddingY);
}

/* Responsive */
@media (min-width: 768px) {
    .card-project {
        width: calc(50% - var(--bs-card-spacer-y) / 2);
    }
    .card-project .card-header {
        font-size: 21px;
    }

    .card-project .img-wrapper {
        height: 100%;
        overflow: hidden;
        background-color: var(--default-bgColor-3);
    }

    .card-project .img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-project .project-description {
        font-size: var(--pcard-default-font-size);
        line-height: var(--pcard-default-line-height);
        text-align: start;
        margin: var(--default-paddingY) var(--default-paddingX);
    }

    .tool-badge-wrapper {
        height: 56px;
    }
    
    .project-tools {
        max-height: 56px;
    }

    .tool-badge {
        height: 24px;
        font-size: 15px;
        padding: 10px;
        margin: 0px;
    }

    .card-project .project-company {
        overflow: hidden;
        height: 30px;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
    }
}
