/* Base */
body {
    background-image: url("../../content/background.png");
    background-repeat: repeat;
    font-family: 'Inter', sans-serif !important;
    padding: 0px 5px;
}

a {
    text-decoration: none;
    color: white;
}

#projects {
    min-height: 300px;
}

.my-tool-badge {
    background: linear-gradient(135deg, #282828, #1a1a1a);
    border: 2px solid var(--default-bgColor-4);
}

.django-badge img {
    filter: brightness(2.3);
}

.tool-badge {
    /* background-color: #181818; */
    background-color: var(--default-bgColor-3) !important;
    border: 2px solid var(--default-bgColor-4) !important;
}

.logo-small {
    width: 90px;
}

.icon-big {
    font-size: 3rem;
}

.border-bottom-mobile {
    border-bottom: 1px solid var(--default-bgColor-4);
}

.fs-7 {
    font-size: .9rem;
}

.fs-8 {
    font-size: .8rem;
}

.fs-9 {
    font-size: .6rem;
}


/* Modal */
.modal-content {
    overflow: hidden;
    background-color: var(--default-bgColor-1);
}

.modal-purple .modal-footer,
.modal-purple .modal-header,
.modal-purple .modal-body {
    border: 1px solid var(--default-bgColor-4) !important;
    color: var(--default-color-4);
}

.modal-purple .modal-footer .btn {
    width: 100%;
}

.modal-backdrop {
    background-color: #281144;
}

.avatar-img {
    transform: translateY(16px);
    z-index: 1;
    height: 100%;
    width: 100%;
}

/* Lists */
.list-stars {
    list-style: none;
    padding-left: 0;
}

ul.list-stars li {
    position: relative;
    padding-left: 1.5rem;
}

.list-purple li {
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity));
    background-color: transparent !important;
    border-color: var(--default-bgColor-4);
    border-style: solid !important;
    border-width: 1px !important;
    border-top-style: hidden !important;
    border-left-style: hidden !important;
    border-right-style: hidden !important;
}

.project-card-body {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.order-md-6 {
    order: 6;
}

.order-md-7 {
    order: 6;
}
/* Responsive */
@media (min-width: 768px) {
    .modal-purple .modal-body {
        min-height: 45vh !important;
    }

    .modal-purple .modal-footer .btn {
        width: 15%;
    }

    body {
        padding: 30px 2%;
    }

    .certificate-icon {
        font-size: 3rem;
    }

    .border-bottom-mobile {
        border: none;
    }

    
    .bg-hero {
        background-image: url("/content/header-bg.png");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        width: auto;
        height: auto;
        min-height: 550px !important;
    }

    .avatar-img {
        position: absolute;
        left: 0;
        bottom: 0px;
        transform: translateY(37px);
        width: auto;
        height: auto;
        max-height: 450px;
        z-index: 1;
    }

    .carousel-item {
        transition: transform 1.2s ease-in-out;
    }

    .project-card-body {
        min-height: 150px;
        max-height: 150px;
        overflow-y: auto;
    }

    .fs-7 {
        font-size: 1.12rem !important;
    }

    .fs-8 {
        font-size: .9rem !important;
    }

    .fs-9 {
        font-size: .7rem !important;
    }

    .order-md-6 {
        order: 6 !important;
    }

    .order-md-7 {
        order: 7 !important;
    }
    
    .w-md-50 {
        width: 50% !important;
    }
}

.timeline-dot {
    transform: translate(-6.5px, 6px);
    transition:
        transform .2s ease,
        color .2s ease;
}

.timeline-mark:hover .timeline-dot {
    transform:
        translate(-6.5px, 6px)
        scale(1.5);
}
